**/.DS_Store
.idea/
.vs/
.vscode/
build/
cmake-build-*/
prefix/
dist/
*.egg-info/
__pycache__/
*.so
.clangd
CMakeLists.txt.user
CMakeUserPresets.json
compile_commands.json
.qtcreator/
examples/prods_full.json
